@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #00851b;
  --color-text_primary: #061e29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }

  body {
    background: #ffffff;
  }
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}
.order-btn {
  padding: 20px 48px;
  border-radius: 100px;
  background-color: #fec827;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease-in-out;

  box-shadow:
    0 67px 80px rgba(30, 20, 10, 0.38),
    0 43.4259px 46.8519px rgba(30, 20, 10, 0.193),
    0 25.8074px 25.4815px rgba(30, 20, 10, 0.043),
    0 13.4px 13px rgba(30, 20, 10, 0.035),
    0 5.45926px 6.51852px rgba(30, 20, 10, 0.027),
    0 1.24074px 3.14815px rgba(30, 20, 10, 0.017);
}
.order-btn:hover {
  transform: scale(1.05);
  color: white;
}
.upDown {
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.heading {
  font-weight: 800;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  word-spacing: 7px;
}
.beeAnimate {
  animation: flingBee 6s cubic-bezier(0.45, 0.05, 0.55, 0.95)  infinite;
  will-change: transform, opacity;
}

@keyframes flingBee {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }

  10% {
    transform: translate(-20px, -40px) rotate(-5deg);
    opacity: 1;
  }

  20% {
    transform: translate(-20px, -80px) rotate(-30deg);
  }

  30% {
    transform: translate(-25px, -120px) rotate(-25deg);
  }

  40% {
    transform: translate(-60px, -160px) rotate(-45deg);
  }

  50% {
    transform: translate(-75px, -210px) rotate(-30deg);
  }

  60% {
    transform: translate(-80px, -260px) rotate(-35deg);
  }

  70% {
    transform: translate(-90px, -300px) rotate(-30deg);
  }

  80% {
    transform: translate(-105px, -350px) rotate(-35deg);
    opacity: 1;
  }

  90% {
    transform: translate(-120px, -400px) rotate(-30deg);
    opacity: 0.4
  }

  100% {
    transform: translate(-120px, -450px) rotate(-30deg);
    opacity: 0;
  }
}


